body {
  background-color: black;
}

.maurice {
  position: absolute;
  top: 30%;
  left: 10%;
  height: 220px;
}

.projectile {
  position: absolute;
  height: 100px;
  top: 360px;
  left: 270px;
}

.hidden {
  display: none;
}
