body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(res/limbo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  height: 170px;
  margin: 220px 130px;
}
